{% extends "base.html" %} 
{% block title %} 
Buffet - Buffet Stock Market Game
{% endblock %} 
{% block body %}

<nav class="navbar navbar-dark fixed-top bg-primary flex-md-nowrap p-0 shadow">
        <ul class="navbar-nav px-30 navbar-brand col-sm-3 col-md-2 mr-0">
                <li class="nav-item text-nowrap ">Buffet</li>
        </ul>

        <ul class="navbar-nav navbar-dark px-3">
                <li class="nav-item text-nowrap">
                  <a class="nav-link" href="{{ url_for('login') }}">Login</a>
                </li>
        </ul>
</nav>



    <div class="row top top-placement">
            <h2 style="font-family:sans-serif";>Become a specialist at trading by playing Buffet Stock Market Game:</h2>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Ability to buy and sell shares relative to company's real prices</li>
                <li class="list-group-item">The player is able to inspect their previous transactions</li>
                <li class="list-group-item">Ability to check the stock of some other countries</li>
                <li class="list-group-item">A leaderboard is on display for players to see where they stand amongst friends and foes</li>
            </ul>
        
            <div class="card" style="width: 18rem;">
                    <img src="..." class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                    <ul class="list-group list-group-flush">
                      <li class="list-group-item">Cras justo odio</li>
                      <li class="list-group-item">Dapibus ac facilisis in</li>
                      <li class="list-group-item">Vestibulum at eros</li>
                    </ul>
                    <div class="card-body">
                      <a href="#" class="card-link">Card link</a>
                      <a href="#" class="card-link">Another link</a>
                    </div>
                  </div>

                  <div class="card text-center" style="width: 18rem;">
                        <div class="card-body">
                          <h5 class="card-title">Special title treatment</h5>
                          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                          <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                      </div>
    {% endblock %}