{% extends "base.html" %} 
{% block title %} 
Buffet - Buffet Stock Market Game
{% endblock %} 
{% block body %}



<ul class="nav justify-content-end">
    <li class="nav-item">
      <a class="nav-link active" href="{{ url_for('login') }}">Login</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{{ url_for('signup') }}">Sign up</a>
    </li>
  </ul>



    <div class="row text-center top-placement">
            <div class="w-30 mx-auto ">
                <div class="section-content">
            <h2 style="font-family:sans-serif";>Become a specialist at trading by playing Buffet Stock Market Game:</h2>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Ability to buy and sell shares relative to company's real prices</li>
                <li class="list-group-item">The player is able to inspect their previous transactions</li>
                <li class="list-group-item">Ability to check the stock of some other countries</li>
                <li class="list-group-item">A leaderboard is on display for players to see where they stand amongst friends and foes</li>
            </ul>

    <header class="image">
      <div class="image-bg">
        <div class="container">
          <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h2 style="font-family:sans-serif";>Become a specialist at trading by playing Buffet Stock Market Game:</h2>
                <p class="image-message">
                    <i class="fa fa-plus-square-o"></i> Ability to buy and sell shares relative to company's real prices
                    <br><i class="fa fa-play-circle"></i> Realtime and historical stock data
                    <br><i class="fa fa-play-circle"></i> FX and cryptocurrency feeds
                    <br><i class="fa fa-play-circle"></i> 50+ technical indicators
                </p>
                  <ul class="nav justify-content-end">
                      <li class="nav-item">
                        <a class="nav-link active" href="{{ url_for('login') }}">Login</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('signup') }}">Sign up</a>
                      </li>
                    </ul>
            </div>
          </div>
        </div>
      </div>
    </header>
    <header class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h1 class="brand-heading">ALPHA VANTAGE</h1>
                        <p class="intro-text">
                            <i class="fa fa-play-circle"></i> Free APIs in JSON and CSV formats
                            <br><i class="fa fa-play-circle"></i> Realtime and historical stock data
                            <br><i class="fa fa-play-circle"></i> FX and cryptocurrency feeds
                            <br><i class="fa fa-play-circle"></i> 50+ technical indicators
                            <!--<br><i class="fa fa-play-circle"></i> Global coverage-->
                        </p>
                        <a href="https://www.alphavantage.co/documentation/" target="_blank" class="btn btn-default btn-lg">API Documentation + Examples</a>
                        <a href="https://www.alphavantage.co/support/#api-key" target="_blank" class="btn btn-default btn-lg">Get your Free API Key Today</a>
                    </div>
                </div>
            </div>
        </div>
    </header>
    {% endblock %}