{% extends "layout.html" %} {% block title %} Buffet - Stock Market Game {%
endblock %} {% block body %}
<!-- This is where the body starts [BODY BEGIN] -->
<nav class="navbar navbar-dark fixed-top bg-primary flex-md-nowrap p-0 shadow">
  <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="{{ url_for('index') }}"
    >Buffett</a
  >

  <!-- Begin implementation of the search functionality -->
  <form class="form-inline w-100" action="{{ url_for('search') }}" method="get">
    <input
      class="form-control form-control-dark w-100"
      type="text"
      name="name"
      id="searchBoxStocks"
      placeholder="Search"
      aria-label="Search"
      list="stock-options"
    />

    <datalist id="stock-options"> </datalist>
  </form>
  <!-- End of search functionality implementation -->

  <ul class="navbar-nav navbar-dark px-3">
    <li class="nav-item text-nowrap">
      <a class="nav-link" href="#">Sign out</a>
    </li>
  </ul>
</nav>

<div class="container-fluid">
  <div class="row">
    <nav class="col-md-2 d-none d-md-block bg-light sidebar">
      <div class="sidebar-sticky">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link active" href="{{ url_for('dashboard') }}">
              <span data-feather="home"></span> Dashboard
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <span data-feather="bar-chart-2"></span> US Stocks
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <span data-feather="bar-chart-2"></span> UK Stocks
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <span data-feather="bar-chart-2"></span> German Stocks
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <span data-feather="bar-chart-2"></span> Dutch Stocks
            </a>
          </li>
        </ul>

        <ul class="nav flex-column">
          <li class="nav-item">
            <a id="buy" class="nav-link" href="#">
              <span data-feather="shopping-cart"></span> Buy
            </a>
          </li>

          <li class="nav-item">
            <a id="sell" class="nav-link" href="#">
              <span data-feather="shopping-bag"></span> Sell
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('history') }}">
              <span data-feather="archive"></span> History
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('summary') }}">
              <span data-feather="file-text"></span> Summary
            </a>
          </li>
        </ul>
      </div>
    </nav>

    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
      <div
        class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom"
      >
        <h1 class="h2">Dashboard</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
          <div class="btn-group mr-2">
            <button class="btn btn-sm btn-outline-secondary">Share</button>
            <button class="btn btn-sm btn-outline-secondary">Export</button>
          </div>
          <button class="btn btn-sm btn-outline-secondary dropdown-toggle">
            <span data-feather="calendar"></span> This week
          </button>
        </div>
      </div>

      <!-- Plotly chart will be drawn inside this DIV -->
      <div id="chartDIV">
        <!-- <div class="my-4 w-100" id="chartDIV" width="900" height="380"> -->
        <!-- The current price is {{ current_price }} -->
      </div>
      <div style="text-align: center;">
        <h5>
          The current price for {{ data["symbol"] }} is
          {{ data["current_price"] }}.
        </h5>
        <!-- show form here -->
        <form
          id="buyform"
          action="{{ url_for('buy') }}"
          method="post"
          style="display: none;"
        >
          <input type="text" name="symbol" placeholder="Symbol" />
          <input type="text" name="shares" placeholder="Shares" />
          <button type="submit" class="btn btn-primary">Buy</button>
        </form>
        <form
          id="sellform"
          action="{{ url_for('sell') }}"
          method="post"
          style="display: none;"
        >
          <input type="text" name="symbol" placeholder="Symbol" />
          <input type="text" name="shares" placeholder="Shares" />
          <button type="submit" class="btn btn-primary">Sell</button>
        </form>
      </div>

      <!-- <canvas class="my-4 w-100" id="myChart" width="900" height="380"></canvas> -->

      <div id="history">{% block history %}{% endblock %}</div>

      <div id="portfolio">{% block portfolio %}{% endblock %}</div>

      <!-- This is for testing BEGIN-->
      <div>
        {{ message }}
      </div>
      <!-- This is for testing END-->
    </main>
  </div>
</div>

<div id="container"></div>

<!-- Bootstrap core JavaScript
    ================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script
  src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
  integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
  crossorigin="anonymous"
></script>
<script
  src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
  integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
  crossorigin="anonymous"
></script>
<script
  src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
  integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
  crossorigin="anonymous"
></script>

<!-- Icons -->
<script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
<script>
  feather.replace();
</script>

<!-- Graphs -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>

<script>
  /* JAVASCRIPT CODE GOES HERE */
  Plotly.d3.csv("{{ temp | safe }}", function(err, rows) {
    function unpack(rows, key) {
      return rows.map(function(row) {
        return row[key];
      });
    }

    var trace1 = {
      type: "scatter",
      mode: "lines",
      name: "Close val",
      x: unpack(rows, "timestamp"),
      y: unpack(rows, "close"),
      line: { color: "#17BECF" }
    };

    var data = [trace1];

    var layout = {
      title: "{{ data["symbol"] | safe }}"
    };

    Plotly.newPlot("chartDIV", data, layout, { showSendToCloud: false });
  });
</script>

<!-- Autocomplete -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
<link
  rel="stylesheet"
  href="https://code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css"
/>
<script>
  q = [];

  $("#searchBoxStocks").keyup(function() {
    searchQ = $("#searchBoxStocks").val();
    autoCompleteStocks(searchQ);
    console.log(q);
  });

  function autoCompleteStocks(searchQ) {
    $.get(
      "https://www.alphavantage.co/query",
      {
        function: "SYMBOL_SEARCH",
        keywords: searchQ,
        apikey: "XKRYNVS020SDNVD8"
      },
      function(d) {
        p = d.bestMatches;

        if (q.includes(p[0]["1. symbol"]) == false) {
          q.push(p[0]["1. symbol"]);
          addOption(p[0]["1. symbol"], p[0]["2. name"]);
        } else if (q.includes(p[1]["1. symbol"]) == false) {
          q.push(p[1]["1. symbol"]);
          addOption(p[1]["1. symbol"], p[1]["2. name"]);
        } else if (q.includes(p[2]["1. symbol"]) == false) {
          q.push(p[2]["1. symbol"]);
          addOption(p[2]["1. symbol"], p[2]["2. name"]);
        }
      },
      "json"
    );
  }

  function addOption(v, t) {
    var test = "<option value='" + v + "'>" + t + "</option>";
    $("#stock-options").append("<option value='" + v + "'>" + t + "</option>");
    console.log(test);
  }
</script>

<script>
  $(document).ready(function() {
    $("#buy").click(function() {
      $("#sellform").hide();
      $("#buyform").show();
    });

    $("#sell").click(function() {
      $("#buyform").hide();
      $("#sellform").show();
    });
  });
</script>

{% endblock %}
