{% extends "layout.html" %} {% block title %} Buffet - Stock Market Game {%
endblock %} {% block body %}
<!-- This is where the body starts [BODY BEGIN] -->

      <!-- Plotly chart will be drawn inside this DIV -->
      <div id="chartDIV"></div>

      <div style="text-align: center;">
        <h5>
          The current price for {{ data["symbol"] }} is
          {{ data["current_price"] }}.
        </h5>
      </div>

      <p> <b> Exchange: </b>{{data["exchange"]}} <br>
      <b> Industry: </b> {{data["industry"]}} <br>
      <b> Description: </b> {{data["description"]}}</p>

      {% block buy %} {% endblock %}


      <!-- This is for testing BEGIN-->
      <div>
        {% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
        {{ message }}
      </div>
      <!-- This is for testing END-->
    </main>
  </div>
</div>

<div id="container"></div>

<!-- Bootstrap core JavaScript
    ================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script
  src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
  integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
  crossorigin="anonymous"
></script>
<script
  src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
  integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
  crossorigin="anonymous"
></script>
<script
  src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
  integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
  crossorigin="anonymous"
></script>

<!-- Icons -->
<script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
<script>
  feather.replace();
</script>

<!-- Graphs -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>

<script>
  /* Author: SH */
  let c = 0;
  Plotly.d3.csv("{{ temp | safe }}", function(err, rows) {
    function unpack(rows, key) {
      return rows.map(function(row) {
        return row[key];
      });
    }

    var trace = {
  x: unpack(rows, 'timestamp'),
  close: unpack(rows, 'close'),
  high: unpack(rows, 'high'),
  low: unpack(rows, 'low'),
  open: unpack(rows, 'open'),

  // cutomise colors
  increasing: {line: {color: 'green'}},
  decreasing: {line: {color: 'red'}},

  type: 'candlestick',
  xaxis: 'x',
  yaxis: 'y'
};

var data = [trace];
console.log("you are here")
c += 1;

var layout = {
  dragmode: 'zoom',
  showlegend: false,
  xaxis: {
    rangeslider: {
     visible: false
   }
  }
};

    Plotly.newPlot("chartDIV", data, layout, { showSendToCloud: false });
  });

</script>


<!-- Autocomplete
Author: SH -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
<link
  rel="stylesheet"
  href="https://code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css"
/>
<script>
  q = [];

  $("#searchBoxStocks").keyup(function() {
    searchQ = $("#searchBoxStocks").val();
    autoCompleteStocks(searchQ);
    console.log(q);
  });

  function autoCompleteStocks(searchQ) {
    $.get(
      "https://www.alphavantage.co/query",
      {
        function: "SYMBOL_SEARCH",
        keywords: searchQ,
        apikey: "XKRYNVS020SDNVD8"
      },
      function(d) {
        p = d.bestMatches;

        if (q.includes(p[0]["1. symbol"]) == false) {
          q.push(p[0]["1. symbol"]);
          addOption(p[0]["1. symbol"], p[0]["2. name"]);
        } else if (q.includes(p[1]["1. symbol"]) == false) {
          q.push(p[1]["1. symbol"]);
          addOption(p[1]["1. symbol"], p[1]["2. name"]);
        } else if (q.includes(p[2]["1. symbol"]) == false) {
          q.push(p[2]["1. symbol"]);
          addOption(p[2]["1. symbol"], p[2]["2. name"]);
        }
      },
      "json"
    );
  }

  function addOption(v, t) {
    var test = "<option value='" + v + "'>" + t + "</option>";
    $("#stock-options").append("<option value='" + v + "'>" + t + "</option>");
    console.log(test);
  }
</script>

{% endblock %}
