{% extends "layout.html" %} {% block title %} Leaderboard - Buffet Stock Market
Game {% endblock %} {% block body %}
<h2>Leaderboard</h2>
<div class="table-responsive">
  <table class="table table-striped table-sm">
    <thead>
      <tr>
        <th>Position</th>
        <th>Name</th>
        <th>Net Value</th>
        <th>Day Change</th>
        <th>Total Change</th>
        <th># of Trades</th>
      </tr>
    </thead>
    <tbody>
      {% for value in data %}
      <tr>
        <td>{{ loop.index }}</td>
        <td>{{ value.userName }}</td>
        <td>{{ value.netValue }}</td>
        <td style="color: darkgreen;">{{ value.dayChange }}</td>
        <td></td>
        <td>{{ value.numberOfTrades }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
