{% extends "layout.html" %} 
{% block title %} 
Login 
{% endblock %} 
{% block body %}
    <!-- This is where the body starts [BODY BEGIN] -->
    

    <nav class="navbar navbar-dark fixed-top bg-primary flex-md-nowrap p-0 shadow">
            <ul class="navbar-nav px-30 navbar-brand col-sm-3">
                    <li class="nav-item text-nowrap ">Buffet - Stock Market Game</li>
            </ul>
    </nav>

<form>
    <div class="form-group">
        <div class="row top top-placement">
            <div class="w-25 mx-auto ">
                <input type="text" class="form-control" placeholder="Username" name="user">
                <br>
                <input type="password" class="form-control" placeholder="Password" name="pass">
                <br>
                <button type="submit" class="btn btn-primary" onclick="check(this.form)" value="Login">Login</button>
                <button type="submit" class="btn btn-secondary" onclick="check(this.form)" value="Login">Sign up</button>
            </div>
        </div>   
    </div>
</form>
<h2 style="font-family:sans-serif";>How to play</h2>
<ul class="">
    <li>Ability to buy and sell shares relative to company's real prices</li>
    <li>The player is able to inspect their previous transactions</li>
    <li>Ability to check the stock of some other countries</li>
    <li>A leaderboard is on display for players to see where they stand amongst friends and foes</li>
</ul>

<script>
    function check(form)
         {
            if(form.user.value == "userid" && form.pass.value == "passid")
            {
                alert("Login successful!")
            }
            else
            {
                alert("Incorrect username or password!")
            }
         }
</script>
{% endblock %}