{% extends "layout.html" %} {% block title %} Search {% endblock %} {% block
body %}
<!-- This is where the body starts [BODY BEGIN] -->
<!-- The current price is {{ current_price }} -->

<!-- Plotly chart will be drawn inside this DIV -->
<div id="myDiv"></div>

<script>
  /* JAVASCRIPT CODE GOES HERE */
  Plotly.d3.csv("{{ temp | safe }}", function(err, rows) {
    function unpack(rows, key) {
      return rows.map(function(row) {
        return row[key];
      });
    }

    var trace1 = {
      type: "scatter",
      mode: "lines",
      name: "AAPL High",
      x: unpack(rows, "timestamp"),
      y: unpack(rows, "close"),
      line: { color: "#17BECF" }
    };

    var data = [trace1];

    var layout = {
      title: "{{ symbol | safe }}"
    };

    Plotly.newPlot("chartDIV", data, layout, { showSendToCloud: false });
  });
</script>
{% endblock %}
