{% extends "layout.html" %}
{% block title %}
Sell Stocks - Buffet Stock Market Game
{% endblock %}
{% block body %}

<main class="container sell-section">
        <form
          id="sellform"
          action="{{ url_for('sell') }}"
          method="POST"
        >
        {{ form.hidden_tag() }}

        {{ form.symbol.label }}:
        {{ form.symbol }}
        {{ form.shares.label }}:
        {{ form.shares }}
        {{ form.submit(class="btn-primary") }}
        </form>
</main>

{% endblock %}
