{% extends "base.html" %}
{% block title %}
Join Buffet - Buffet Stock Market Game
{% endblock %}
{% block body %}


<nav class="navbar navbar-dark fixed-top bg-primary flex-md-nowrap p-0 shadow">
    <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="{{ url_for('home') }}"
      >Buffett</a>


        <ul class="navbar-nav navbar-dark px-3">
                <li class="nav-item text-nowrap">
                    {% block a %}
                  <a class="nav-link" href="{{ url_for('login') }}">Login</a>
                    {% endblock %}
                </li>
        </ul>
</nav>


<main class="container signup-section">
    <div class="row">
        <div class="w-30 mx-auto top top-placement">
            <div class="section-content">
                <h2>Sign up for Buffet</h2>
            </div>
        </div>
    </div>

    <form action="/signup" method="POST">
                    {{ form.csrf_token }}
                    {{ form.hidden_tag() }}
        <div class="row top top-placement">
            <div class="w-30 mx-auto">

                    <div class="form-group">

                        {% if form.user_name.errors %}
                            {% for error in form.user_name.errors %}
                                <p class="error-message">{{ error }}</p>
                            {% endfor %}
                        {% endif %}

                        {{ form.user_name(placeholder="Username") }}
                    </div>

                    <div class="form-group">

                        {% if form.password.errors %}
                            {% for error in form.password.errors %}
                                <p class="error-message">{{ error }}</p>
                            {% endfor %}
                        {% endif %}

                        {{ form.password(placeholder="Password") }}
                    </div>

                    {{ form.submit(class="btn-primary") }}
            </div>
        </div>
    </form>

</main>

{% endblock %}
