{% extends "layout.html" %} 
{% block title %} 
Join Buffet - Buffet Stock Market Game
{% endblock %} 
{% block body %}

<nav class="navbar navbar-light fixed-top bg-light flex-md-nowrap p-0 shadow">
    <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="{{ url_for('home') }}"
          >Buffett</a>
    
        <ul class="nav justify-content-end">
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('signup') }}">Sign up</a>
            </li>
          </ul>
    </nav>
    
    <main class="container signup-section">
        <div class="row">
            <div class="w-30 mx-auto top top-placement">
                <div class="section-content">
                    <h2>Log In</h2>
                </div>
            </div>
        </div>

<main class="container signup-section">
    <div class="section-content">
        <h2>Sign up for Buffet</h2>
    </div>

        <form action="/signup" method="POST">
            {{ form.hidden_tag() }}

            <div class="form-group">
                {{ form.user_name.label }}

                {% if form.user_name.errors %}
                    {% for error in form.user_name.errors %}
                        <p class="error-message">{{ error }}</p>
                    {% endfor %}
                {% endif %}

                {{ form.user_name }}
            </div>

            <div class="form-group">
                {{ form.password.label }}

                {% if form.password.errors %}
                    {% for error in form.password.errors %}
                        <p class="error-message">{{ error }}</p>
                    {% endfor %}
                {% endif %}

                {{ form.password }}
            </div>

            {{ form.submit(class="btn-primary") }}
        </form>
    </div>
</main>

{% endblock %}