.image .image-bg {
  width: 100%;
  height: auto;
  padding: 100px 0;
  text-align: center;
  color: white;
  /* background: url(../img/intro-bg.jpg) no-repeat bottom center scroll; */
  background-color: black;
  background-size: cover;
}
