{% extends "index.html" %}
{% block title %}
Buy Stocks - buffett Stock Market Game
{% endblock %}
{% block body %}

<main class="container buy-section">
        <form
          id="buyform"
          action="{{ url_for('buy') }}"
          method="POST"
        >
          <div class="form-group">

              {{ buyForm.csrf_token }}
              {{ buyForm.hidden_tag() }}
      
              {{ buyForm.symbol(placeholder="Symbol") }}        
              {{ buyForm.shares(placeholder="Shares") }}
              {{ buyForm.submit(class="btn-primary") }}

          </div>
        </form>

        {% if buyForm.shares.errors %}
          {% for error in buyForm.shares.errors %}
              <div class="alert alert-danger alert-dismissible fade show" role="alert">
                {{ error }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
          {% endfor %}
        {% endif %}

</main>

{% endblock %}
