{% extends "base.html" %}
{% block title %}
Join Buffet - Buffet Stock Market Game
{% endblock %}
{% block body %}
<!-- author: SA -->

<nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
    <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="{{ url_for('home') }}"
      >Buffett</a>

        <!-- links directing user to signup -->
        <ul class="navbar-nav navbar-dark px-3">
                <li class="nav-item text-nowrap">
                    {% block a %}
                  <a class="nav-link" href="{{ url_for('signup') }}" style="color:#ffd700;">Sign up</a>
                    {% endblock %}
                </li>
        </ul>

</nav>

<main class="container" style="margin: 6em auto;">
    <div id="login-sect" class="row">
        <div class="w-30 mx-auto top top-placement">

            <div class="section-content">
                <h2>Log In</h2>
            </div>
        </div>
    </div>

      <!-- Login implementation-->
      <!-- @author: EM -->
      <form action="/login" method="POST">
          {{
            form.csrf_token
          }}
          {{ form.hidden_tag() }}

          <div class="form-group">
              {% if form.username.errors %}
                  {% for error in form.username.errors %}
                      <p class="error-message">{{ error }}</p>
                  {% endfor %}
              {% endif %}

              {{ form.username(placeholder="Username", class="form-control") }}
          </div>

            <div class="form-group">
                {% if form.password.errors %}
                    {% for error in form.password.errors %}
                        <p class="error-message">{{ error }}</p>
                    {% endfor %}
                {% endif %}

                {{ form.password(placeholder="Password", class="form-control") }}
            </div>

            <div class="form-group">
              {{ form.submit(class="btn btn-primary") }}
            </div>


            <div class="form-group">
              {% if error %}
                <p class=error><strong>Error:</strong> {{ error }}
              {% endif %}
            </div>

              {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                  <div class=flashes>
                  {% for category, message in messages %}
                    <div class="alert alert-{{ category }} alert-dismissible fade show form-group" role="alert">
                      {{ message }}
                      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                  {% endfor %}
                  </div>
                {% endif %}
              {% endwith %}

      </form>

</main>

{% endblock %}
