{% extends "index.html" %}
{% block title %}
Sell Stocks - buffett Stock Market Game
{% endblock %}
{% block body %}

<main class="container sell-section">
        <form
          id="sellform"
          action="{{ url_for('sell') }}"
          method="POST"
        >

        <div class="form-group">
          {{ sellForm.hidden_tag() }}

          {{ sellForm.symbol(placeholder="Symbol") }}
          {{ sellForm.shares(placeholder="Shares") }}
          {{ sellForm.submit(class="btn-primary") }}
        </div>

        </form>

        {% if sellForm.shares.errors %}
          {% for error in sellForm.shares.errors %}
              <div class="alert alert-danger alert-dismissible fade show" role="alert">
                {{ error }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
          {% endfor %}
        {% endif %}

</main>

{% endblock %}
